{% extends 'base.html' %}
{% block content %}

<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }

    .head_text {
        color: white;
    }

    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class=" site-heading my-4 mt-3 text-white"> {{ post.title }} </h3>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <p class=" text-muted">{{ post.author }} | {{ post.created_on }}</p>
        <p class="card-text ">{{ post.content | safe }}</p>
        {% if user.is_authenticated and user == post.author %}
          <a href="{% url 'post_edit' pk=post.pk  %}" class="btn btn-outline-success">Edit</a>
          <a href="{% url 'post_remove' pk=post.pk %}"class="btn btn-outline-success">Delete</a>

        {% endif %}
      </div>
    </div>
    {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
  </div>
  <hr>
  {% for comment in post.comments.all %}
      <div class="comment">
          <div class="date">{{ comment.created_date }}</div>
          <strong>{{ comment.author }}</strong>
          <p>{{ comment.text|linebreaks }}</p>
      </div>
  {% empty %}
      <p>No comments here yet :(</p>
  {% endfor %}
</div>

{% endblock content %}
